<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button (click)="returnToMain()" class="btn btn-link">Return to home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12/09/2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis culpa dolores expedita facilis fuga
      harum inventore laborum magnam modi mollitia nesciunt praesentium provident quos ratione recusandae repellat sint
      totam, vel voluptatibus? Consectetur dolorum et, ex fugit ipsa ipsum nihil non obcaecati officia quam quidem quis
      quisquam soluta, tenetur, totam?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis culpa dolores expedita facilis fuga
      harum inventore laborum magnam modi mollitia nesciunt praesentium provident quos ratione recusandae repellat sint
      totam, vel voluptatibus? Consectetur dolorum et, ex fugit ipsa ipsum nihil non obcaecati officia quam quidem quis
      quisquam soluta, tenetur, totam?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis culpa dolores expedita facilis fuga
      harum inventore laborum magnam modi mollitia nesciunt praesentium provident quos ratione recusandae repellat sint
      totam, vel voluptatibus? Consectetur dolorum et, ex fugit ipsa ipsum nihil non obcaecati officia quam quidem quis
      quisquam soluta, tenetur, totam?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis culpa dolores expedita facilis fuga
      harum inventore laborum magnam modi mollitia nesciunt praesentium provident quos ratione recusandae repellat sint
      totam, vel voluptatibus? Consectetur dolorum et, ex fugit ipsa ipsum nihil non obcaecati officia quam quidem quis
      quisquam soluta, tenetur, totam?
    </p>
  </div>
</div>
